# Johan Legried
johanleg@stud.ntnu.no <johanlegreid@hotmail.com> Johan Legreid <johanleg@stud.ntnu.no>
# Oskar Voldsund
Oskar Voldsund <oskarvoldsund@MacBook-Pro-Oskar.local> Oskar Voldsund <oskarvo@stud.ntnu.no> Oskar Voldsund <oskarvoldsund@MBP-Oskar.lan> Oskar Voldsund <osk.voldsund@gmail.com> Oskar Voldsund <oskarvoldsund@dhcp-10-22-12-183.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-12-222.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-13-112.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-14-208.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-12-201.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-14-54.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-14-37.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-15-147.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-15-156.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-29-192.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-45-241.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@dhcp-10-22-13-245.wlan.ntnu.no> Oskar Voldsund <oskarvoldsund@MacBook-Pro.lan>
# Hanna Kongelf
hannakongelf <122216425+hannakongelf@users.noreply.github.com> Hanna Kongelf <hannakon@stud.ntnu.no>
# Une Marie Stimo
Une Marie Stimo <une@stimo.no> Une Marie Stimo <unems@stud.ntnu.no>